/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@font-face {
  font-family: 'canela-thin-web';
  font-display: fallback;
  src: url('/fonts/canela-thin-web.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'gt-america-light';
  font-display: fallback;
  src: url('/fonts/gt-america-light.woff') format('wo`');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt-america-medium';
  font-display: fallback;
  src: url('/fonts/gt-america-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1 {
    @apply font-heading text-xlm md:text-xlm lg:text-xld text-heading;
  }

  h2 {
    @apply font-heading   text-lgm md:text-lgm lg:text-lgd text-heading;
  }

  h3 {
    @apply font-heading  text-nav text-heading;
  }


  p {
    @apply font-body text-base;
  }

  main {
    @apply relative z-10 mb-[350px] overflow-scroll;
  }

  .caret {
    @apply uppercase text-sm
  }

  .highlight {
    @apply font-highlight uppercase text-highlight text-sm;
  }

  .highlight,
  .active {
    display: inline-block;
    position: relative;
    color: #212121;
  }
  .highlight:hover,
  .active:hover {
    color: #212121;
  }
  .highlight:hover:before,
  .active:hover:before {
    width: 100%;
    transition: width 0.4s ease;
  }
  .highlight:hover:after,
  .active:hover:after {
    width: 100%;
    background: rgba(237, 125, 49, 0.2);
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
  }
  .highlight:before,
  .active:before {
    background: rgba(237, 125, 49, 0.1);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 0;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
  .highlight:after,
  .active:after {
    background: rgba(237, 125, 49, 0.2);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 100%;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
  .headroom--pinned nav {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  nav {
    @apply font-heading leading-none tracking-wide;
  }

  .top-nav {
    @apply flex h-2/3 items-center justify-center;
  }
  .top-nav li {
    @apply flex justify-center;
  }

  .bottom-nav {
    @apply flex h-1/3 items-center  justify-center;
  }

  .bottom-nav ul {
    @apply flex  gap-3;
  }
  /* DynamicHeadliine */
  .headline-container {
    @apply relative overflow-hidden;
  }

  .headline {
    @apply absolute w-2/5 text-left;
    animation: fadeSlide 2s forwards;
  }

  @keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    25% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}

@layer utilities {
}
